:root{
    --prm-color:#FF5400;
    font-size: 62.5%;
}
/* default properties */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}
a{
    text-decoration: none;
}
span{
    color: var(--prm-color);
}
#small{
    display: none;
}
.button{
    width: 17.4rem;
    height: 5.2rem;
    background-color: var(--prm-color);
    font-size: 1.6rem;
    font-weight: 700;
    color: #FFF;
    border: none;
    border-radius: 0.8rem;

}
/* ------------------header section ---------------------*/
header{
    width: 82vw;
    margin: auto;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0rem;
}
.agency{
    display: flex;
    align-items: center;
    gap: 1.6rem;
}
.logo{
    width: 4.8rem;
}
.agency-name{
    font-size: 3.6rem;
    font-weight: 800;
}
#links{
    display: flex;
    gap: 4.4rem;
    font-size: 1.8rem;
    font-weight: 700;
}
#links li{
    list-style-type: none;
}
/* -----------------Banner section---------------------------- */
#banner{
    height: 50rem;
    background-image: url(../Images/banner.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    color: #FFF;
}
#banner > h1{
    font-size: 6.4rem;
    font-weight: 800;
}
#banner > p{
    width: 70%;
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
}
#form{
    background-color: rgba(255, 255, 255, 0.30);
}
#form form{
    border-radius: 8px;
    display:flex;
    padding: 1.6rem;
    gap: 2.4rem;
}
#form input, select{
    width: 17.4rem;
    height: 5.2rem;
    border: none;
    border-radius: 0.8rem;
    color: rgba(19, 19, 24, 0.50);
    font-size: 1.6rem;
    font-weight: 400;
    padding-left: 1.6rem;
} 


/* -------------------Popular page section---------------------- */
#popular{
    width: 82vw;
    margin: 3rem auto;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 55rem;
    column-gap: 5rem;
}
/* description part */
#desc h1{
    color: #131318;
    text-align: center;
    font-size: 4rem;
    font-weight: 800;
}
#desc p{
    color: rgba(19, 19, 24, 0.70);
    font-size: 1.6rem;
    font-weight: 400;
    margin:2.4rem 0rem;
}
#desc ul{
    padding-left: 2rem;
    color: rgba(56, 56, 92, 0.7);
    font-size: 1.6rem;
    font-weight: 400;
}
#desc li{
    margin-top: 1rem;
}

#famous-place img{
    width: 100%;
    height: 100%;
}
/* ------------------Choose your Destination------------------- */
#destination{
    width: 82vw;
    margin: 3rem auto;
}
#destination>h1{
    color: #131318;
    text-align: center;
    font-size: 4rem;
    font-weight: 800;

}
#destination > p{
    width: 55%;
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    margin:2.4rem auto 4.8rem ;
}
#place-container>div{
    position: relative;
}
#place-container h1{
    position: absolute;
    color: #FFF;
    font-size: 2.8rem;
    font-weight: 800;
    top: 50%;
    right: 50%;
}
/* image-gallary */
#place-container img{
    width: 100%;
    height: 100%;
    }
 #place-container{
    display: grid;
    grid-template-columns:repeat(12, 1fr);
    grid-gap: 1rem;
}
.maldives{
    grid-column:span 6 ;
}
.indonesia{
    grid-column:span 6 ;
}
.srilanka{
    grid-column:span 4 ;
}
.north-america{
    grid-column:span 5 ;
}
.kashmir{
    grid-column:span 3 ;
}
.bangladesh{
    grid-column:span 5 ;
}
.bandarban{
    grid-column:span 7 ;
}  
/* ---------why choose us------------ */
#choose{
    width: 82vw;
    margin: 3rem auto;
}
#choose >h1{
    color: #131318;
    text-align: center;
    font-size: 4rem;
    font-weight: 800;
}
#choose > p{
    width: 55%;
    margin: 2.4rem auto;
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
}
.card-image{
    height: 6.4rem;
    width: 6.4rem;
}
.card-title{
    color: #131318;
    font-size: 2.4rem;
    font-weight: 800;
}
.card-desc{
    color: #5A5A5D;
    font-size: 1.6rem;
    font-weight: 400;
}
#card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2.4rem;
    padding: 3.2rem;
}
#hotel{
    grid-column: span 2;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 3.2rem;
}
#service{
    grid-column: span 2;
    border-radius: 1.6rem;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 3.2rem;
}
#price{
    grid-column: 2/ span 2;
    border-radius: 1.6rem;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 3.2rem;
}

/* ----------------------------Newsletter----------------------- */
#newsletter{
    width: 82vw;
    margin:auto;
    display: grid;
    grid-template-columns: 2fr 3fr;
    column-gap: 2.4rem;
}
#subscribe{
    border-radius: 1.6rem;
    border: 1px solid var(--prm-color);
    padding: 4rem;
}
#subscribe > h1{
    color: #131318;
    font-size: 2.4rem;
    font-weight: 800;
}
#subscribe > p{
    color: #5A5A5D;
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 3.2rem;
}
#subscribe input{
    width: 39.3rem;
    height: 5.2rem;
    border: none;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    color: rgba(19, 19, 24, 0.30);
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 1.6rem;
}
#subscribe button{
    width: 100%;
}
#discount > img{
    width: 100%;
    height: 100%;
}
/* -----------------footer section -----------*/
footer{
    width:100vw;
    height: 37rem;
    background: rgba(19, 19, 24, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer p{
    width: 54%;
    color: #5A5A5D;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    margin: 1.5rem auto 3.3rem;
}
.social-icon{
   font-size: 2.4rem;
   padding: 2rem;

}
hr{
    width: 60%;
    height: 2px;
    background: rgba(19, 19, 24, 0.10);
}
/* ---------------------------------------------------------------------------------------- */
/* Responsive design for 600px Screen size */
@media screen and (max-width:600px) {
    #small{
        display: block;
        font-size: 2.4rem;
    }
    header{
        width: 95vw;
    }
    #agency{
        gap: 3.5rem;
    }
    .agency-name{
        font-size: 2.1rem;
    }
    .logo{
        width: 2.8rem;
    }
    #links{
        display: none;
    }
    /* ----------------------Banner section------------- */
    #banner h1{
        font-size: 2.2rem;
    }
    #banner p{
        font-size: 1.4rem;
        color: black;
    }
    #form form{
        flex-direction: column;
        align-items: center;
    }
    #form input, select{
        width: 25.5rem;
    }
    #form button{
        width: 25.5rem;
    }

    /* --------------------------Popular Section----------------- */
    #popular{
        grid-template-columns: 1fr;
        row-gap: 5rem;
        width: 95vw;
    }
/* --------------popular place------------------- */
#place-container{
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}
#destination > p{
    width: 80%;
}
.maldives{
    grid-column:1 /-1 ;
}
.indonesia{
    grid-column: 1 /-1  ;
}
.srilanka{
    grid-column: 1 /-1  ;
}
.north-america{
    grid-column: 1 /-1  ;
}
.kashmir{
    grid-column: 1 /-1  ;
}
.bangladesh{
    grid-column: 1 /-1  ;
}
.bandarban{
    grid-column: 1 /-1  ;
} 
/* ---------why choose us-------- */
#choose{
    width: 95vw;
    margin: 10rem auto;
}
#choose > p{
    width: 80%;
}
#card-container{
    grid-template-columns:1fr;
    row-gap: 2rem;
    padding:0;
}

#hotel{
    grid-column:1/-1;
}
#service{
    grid-column:1/-1;
}
#price{
    grid-column: 1/-1;
}
/* ----------------Newsletter---------------- */
#newsletter{
    width: 95vw;
    grid-template-columns: 1fr;
    row-gap: 1.6rem;
}
#subscribe input{
    width: 100%;
}
/* footer */
footer p{
    width: 80%;
}
hr{
    width: 86%;
}
}