:root{
    --prm-color:#FF5400;
    font-size: 62.5%;
}
/* default properties */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}
a{
    text-decoration: none;
}
span{
    color: var(--prm-color);
}
#small{
    display: none;
}
.button{
    width: 17.4rem;
    height: 5.2rem;
    background-color: var(--prm-color);
    font-size: 1.6rem;
    font-weight: 700;
    color: #FFF;
    border: none;
    border-radius: 0.8rem;

}
/* ------------------header section ---------------------*/
header{
    width: 82vw;
    margin: auto;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0rem;
}
#agency{
    display: flex;
    align-items: center;
    gap: 1.6rem;
}
#logo{
    width: 4.8rem;
}
#agency-name{
    font-size: 3.6rem;
    font-weight: 800;
}
#links{
    display: flex;
    gap: 4.4rem;
    font-size: 1.8rem;
    font-weight: 700;
}
#links li{
    list-style-type: none;
}
/* -----------------Banner section---------------------------- */
#banner{
    height: 50rem;
    background-image: url(../Images/banner.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    color: #FFF;
}
#banner > h1{
    font-size: 6.4rem;
    font-weight: 800;
}
#banner > p{
    width: 70%;
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
}
#form{
    width: 65.5%;
    background-color: rgba(255, 255, 255, 0.30);
}
#form form{
    border-radius: 8px;
    display:flex;
    padding: 1.6rem;
    gap: 2.4rem;
}
#form input, select{
    width: 17.4rem;
    height: 5.2rem;
    border: none;
    border-radius: 0.8rem;
    color: rgba(19, 19, 24, 0.50);
    font-size: 1.6rem;
    font-weight: 400;
    padding-left: 1.6rem;
}


/* -------------------Popular page section---------------------- */
#popular{
    width: 82vw;
    height: 50rem;
    margin: 10rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}
/* description part */
#desc h1{
    color: #131318;
    text-align: center;
    font-size: 4rem;
    font-weight: 800;
}
#desc p{
    color: rgba(19, 19, 24, 0.70);
    font-size: 1.6rem;
    font-weight: 400;
    margin:2.4rem 0rem;
}
#desc ul{
    padding-left: 2rem;
    color: rgba(19, 19, 24, 0.70);
    font-size: 1.6rem;
    font-weight: 400;
}
#desc li{
    margin-top: 1rem;
}
/* ---------------------------------------------------------------------------------------- */
/* Responsive design for 600px Screen size */
@media screen and (max-width:600px) {
    #small{
        display: block;
        font-size: 2.4rem;
    }
    header{
        width: 95vw;
    }
    #agency{
        gap: 3.5rem;
    }
    #agency-name{
        font-size: 2.1rem;
    }
    #logo{
        width: 2.8rem;
    }
    #links{
        display: none;
    }
    /* ----------------------Banner section------------- */
    #banner h1{
        font-size: 2.2rem;
    }
    #banner p{
        font-size: 1.4rem;
        color: black;
    }
    #form{
        width: 90%;
    }
    #form form{
        flex-direction: column;
        align-items: center;
    }
    #form input, select{
        width: 25.5rem;
    }
    #form button{
        width: 25.5rem;
    }

    /* --------------------------Popular Section----------------- */
    #popular{
        flex-direction: column;
        width: 95vw;
    }
}